#menu {

    background:white;
}
.mac {
    padding: 16px 35px

}
#logo {
    display: inline-block;
    list-style-type: none;
    margin-left:50px;


}
#sp {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 70px;
    /*font-weight:bold;
  */}
#h3 {
    font-family: unset;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
#h4 {
    margin-top: 30px;
    font-family: unset;
    text-align: center;
}
#model {
    /*animation: animateright 8.0s;*/
    /*margin-left: 1px;*/
    padding: 25px;
    width: 25%;
    margin-right: -4px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #ff931d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}






* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.card {
    width:92%;
    margin-left: auto;
    margin-right: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
.products-name h4 a{
    font-size: 15px;
}
/* .gutter{
    padding: 15px;
    padding-top: 15px;
}
.desktop-3{
    width: 25%;
} */

/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden; }

img {
    max-width: 100%; }

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.cardd {
    margin-top: 50px;
    padding: 3em;
    line-height: 1.5em; }

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    background-color: #FAFAFA;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.size {
    margin-right: 10px; }
.size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

/*# sourceMappingURL=style.css.map */

@media (min-width: 768px){
    .cart--full .cart__table {
        display: table;
        width: 100%;
        margin-bottom: 20px;
    }}
.cart--full .cart__table tr {
    border-bottom: 1px solid #c8c8c8;
}
.cart--full .cart__table__header--name {
    text-align: left;
}
.cart__table__body--image {
    padding: 1rem 0;
    text-align: left;
}
.cart__table__body--image a {
    display: block;
    width: 5rem;
}
.cart--full .cart__table__body--name {
    padding: 1rem 1rem 1rem 2rem;
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;


    /*padding: 25px;*/
}
.grid-item {

    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    font-size: 30px;
    text-align: center;
    background-color: #ececec;

}